body
{
    margin: 0;
    padding: 0;

    font-family: sans-serif;
    background-image: url(/img/background.jpg);
    background-size: cover;
    background-position: center;
}
.login_form
{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: rgb(255, 255, 255);
    padding: 20px;
    margin: 8% auto 0;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
}
.login_form h1
{
    color: #c1fcc1;
    margin-bottom: 30px;
}
.input-box
{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width:93%;
    border: 1px solid #999;
    outline: none;
    text-align: left;
}
button
{
    color: #fff;
    width:100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.Login-btn
{
    background-color: #a81313;
}
.facebook-btn
{
    background-color: #3b5998;
}
a
{
    text-decoration: none;
}
hr
{
    margin-top: 20px;
    width: 80%;
}
.or
{
    background: #fff;
    width: 30px;
    margin: -19px auto 10px;
}
.staff 
{
    background-color: rgb(238, 217, 102);
}
.nav-bar
{
    text-align: center;
    text-size-adjust: auto;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}